<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.tliaswebmanagement.mapper.EmpMapper">
  <update id="updateById">
    update emp
    <set>
      <if test="username   != null and username != ''">username = #{username},</if>
      <if test="name       != null and name     != ''">name = #{name},</if>
      <if test="gender     != null">gender = #{gender},</if>
      <if test="image      != null and image    != ''">image = #{image},</if>
      <if test="deptId     != null">dept_id = #{deptId},</if>
      <if test="job        != null">job = #{job},</if>
      <if test="salary     != null">salary = #{salary},</if>
      <if test="updateTime != null">update_time = #{updateTime}</if>
    </set>
    where id = #{id}
  </update>
  <delete id="deleteByIds">
    delete from emp where id in
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <select id="list" resultType="com.heima.tliaswebmanagement.pojo.Emp">
    select e.*, d.name as deptName from emp as e left join dept as d on e.dept_id = d.id
      <!-- where e.name like concat('%',#{name},'%') -->
      <!--   and e.gender = #{gender} -->
      <!--   and e.entry_date between #{begin} and #{end} -->
      <!-- order by e.update_time desc -->
    <where>
      <if test="name != null and name != ''">
        e.name like concat('%',#{name},'%')
      </if>
      <if test="gender!= null and gender!= ''">
        and e.gender = #{gender}
      </if>
      <if test="begin!= null and end!= null">
        and e.entry_date between #{begin} and #{end}
      </if>
    </where>
    order by e.update_time desc
  </select>
  <select id="queryById" resultMap="empResultMap">
    select e.*,
      exp.id as exp_id,
      exp.emp_id as exp_empId,
      exp.begin as exp_begin,
      exp.end as exp_end,
      exp.company as exp_company,
      exp.job as exp_job
    from emp as e left join emp_expr as exp on e.id = exp.emp_id
    where e.id = #{id}
  </select>
  <select id="countEmpJobData" resultType="java.util.Map">
    select (
    case job
    when 1 then '班主任'
    when 2 then '讲师'
    when 3 then '学工主管'
    when 4 then '教研主管'
    when 5 then '咨询师'
    else '其他'
    end) as jobName,
    count(*) as count
    from emp
    group by job
  </select>
  <resultMap id="empResultMap" type="com.heima.tliaswebmanagement.pojo.Emp">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="name" column="name"/>
    <result property="gender" column="gender"/>
    <result property="phone" column="phone"/>
    <result property="job" column="job"/>
    <result property="salary" column="salary"/>
    <result property="image" column="image"/>
    <result property="entryDate" column="entry_date"/>
    <result property="deptId" column="dept_id"/>
    <result property="updateTime" column="update_time"/>
    <result property="createTime" column="create_time"/>
    <collection property="exprList" ofType="com.heima.tliaswebmanagement.pojo.EmpExpr">
      <id property="id" column="exp_id"/>
      <result property="company" column="exp_company"/>
      <result property="job" column="exp_job"/>
      <result property="begin" column="exp_begin"/>
      <result property="end" column="exp_end"/>
      <result property="empId" column="exp_empId"/>
    </collection>
  </resultMap>
</mapper>